.options {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border-bottom: 0.5px solid #91a0ced8;
  color: #91a0ced8;
  margin: 12px 0 10px 0;
  font-family: "Mulish", sans-serif;
  width: 90%;
  font-size: 14px;
}

.each {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.mart-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  width: 11%;
}

@media screen and (max-width: 750px) {
  .options {
    width: 97%;
  }
}
